@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --color-bg-primary-dark: #171717;
  --color-bg-primary-light: #f9fbfd;
  --color-bg-secondary-dark: #1e1e1e;
  --color-bg-secondary-light: #ffffff;

  /* highlight colors */
  --color-highlight-primary: #4a4aff;
  --color-highlight-secondary: #5353ff;

  /* accents  */
  --color-accent-primary: #9f9fff;
  --color-accent-secondary: #a5a5ff;

  /* status */
  --color-status-active: #00ff00;
  --color-status-success: #00e676;
  --color-status-error: #ff4d4d;
  --color-status-warn: #ffcc00;

  /* text color */
  --color-text-primary-dark: #ffffff;
  --color-text-primary-light: #333333;
}

@layer base {
  body {
    @apply dark:bg-color-bg-primary-dark bg-color-bg-primary-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
